.header {
  height: 72px;
  padding: 0 40px;
  background-color: #1a242f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileImage {
  height: 40px;
  width: 40px;
}
.appTitle {
  color: white;
}
